.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 0 2rem;
}

.search-section {
	align-self: stretch;
	display: flex;
	justify-content: center;
	position: relative;
}

.search {
	width: 460px;
	border-radius: 50px 0px 0px 50px;
	border: 1px solid transparent;
	font-size: 1.1rem;
	padding: 0.6em 1.2em;
	background-color: var(--black);
	cursor: pointer;
	outline: none;
	color: var(--white);

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search:focus {
	border-color: var(--blue);
}

.search-btn {
	border: 1px solid transparent;
	border-radius: 0px 50px 50px 0px;
	border-left: 0px;
}
.search-btn:hover {
	border: 1px solid var(--blue);
	border-left: 0px;
}

.info-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movie-photo {
	max-width: 520px;
	order: 2;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	align-self: stretch;
}

.movie-info {
	max-width: 520px;
	max-height: 500px;
	order: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--bg);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 1rem 2rem;
	justify-content: flex-start;
}

.movie-title {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
	margin-right: 2rem;
}

.text-section {
	overflow-y: hidden;
	padding-right: 0.8rem;
}
.info-title {
  color: var(--blue);
  font-size: 0.9rem;
}
.info-text {
  font-size: 1.2rem;
}
.description {
	overflow-y: scroll;
	padding-right: 0.8rem;
  font-size: 1.2rem;
}
.text-section {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.description-section {
  flex-shrink: 1;
  max-height: 200px
}
.popularity {
	margin-top: auto;
	align-self: flex-end;
	margin: auto 1rem 1rem 1rem;
}

.description::-webkit-scrollbar {
	width: 10px;
}

.description::-webkit-scrollbar-track {
	background: transparent;
}

.description::-webkit-scrollbar-thumb {
	background-color: var(--bg);
	border-radius: 25px;
}

.star {
	position: absolute;
	top: 1.4rem;
	right: 1.5rem;
	cursor: pointer;
}

@media only screen and (min-width: 590px) {
	.movie-photo {
		align-self: center;
	}
}
@media only screen and (min-width: 1007px) {
	.info-section {
		flex-direction: row;
		align-items: stretch;
		width: auto;
		min-height: 490px;
	}
	.movie-info {
		order: 2;
		max-width: 480px;
	}
	.movie-photo {
		order: 1;
		max-width: 300px;
		align-self: stretch;
	}
}
