.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 1rem;
  font-weight: bold;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.login {
  font-weight: bold;
}

.no-border-button {
  background-color: transparent;
  box-shadow: none;
  color: white;
  border: none;
}
.no-border-button:hover {
  background-color: transparent;
  border: none;
  color: var(--blue);
}