.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}