:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	height: 100%;

	color: var(--white);
	background-color: var(--black);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--black: #131313;
	--white: rgba(255, 255, 255, 0.87);
	--blue: #535bf2;
	--blue-hover: rgb(77, 83, 204);
  --bg: rgb(24, 24, 24);
}

html::-webkit-scrollbar {
	width: 12px;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background-color: var(--blue);
}

* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
	display: flex;
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;
}

